/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --main-font: "Inter-Variable";
  --main-font-weight: 400;
  --accent-font: "PressStart2P";
  --card-title-weight: 700;
  --header-padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  --header-margin-block: 100px;
  --header-title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.063rem);
  --header-text-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --page-bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --contour-color: #000;
  --animation-fill-color: #ff0000;
}
